<a class="visually-hidden-focusable" href="#content">Skip to main content</a>
<nav class="">
    <hr />
    <p class="fs-4"><strong>Start - A11y Audit</strong></p>

    <hr />
    <ol>
        <li><a href="{{site.url}}/AATKit/AAT.html" target="_new">A11y Audit Toolkit</a>&nbsp;<i class="bi bi-box-arrow-up-right"></i></li>
        <li><a href="{{site.url}}/AATKit/WCAG-Report.html" target="_new">WCAG-RPT Generater</a>&nbsp;<i class="bi bi-box-arrow-up-right"></i></li>
        <li><a href="https://www.w3.org/WAI/planning/statements/generator/#create" target="_blank">A11y Statement Generater</a>&nbsp;<i class="bi bi-box-arrow-up-right"></i></li>
    </ol>

    <hr />
    <p class="fs-4"><strong>How-To-Guides</strong></p>

    <hr />

    <ul>
        <li><a href="/user_guide/">USER Guide</a></li>
        <li><a href="/vpat_guide/">VPAT Guide</a></li>
        <li><a href="/knowledge_base/">Client Workflow</a></li>
    </ul>

    <hr />
    <p class="fs-4"><strong>Resources/Tools</strong></p>

    <hr />

    <ul>
        <li>Tools</li>
        <li>Downloads</li>
    </ul>
</nav>